<!--

    Copyright (C) 2011 ArtiVisi Intermedia <info@artivisi.com>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<http auto-config="true">
		<intercept-url pattern="/karyawan/list" access="ROLE_KARYAWAN_VIEW" />
		<intercept-url pattern="/karyawan/form" access="ROLE_KARYAWAN_EDIT" />
		<intercept-url pattern="/**" filters="none" />
		<form-login login-page="/login.jsp" 
					authentication-failure-url = "/login.jsp?login_error=1"
		/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="ira" password="123" authorities="ROLE_KARYAWAN_EDIT, ROLE_KARYAWAN_VIEW" />
				<user name="meli" password="456" authorities="ROLE_KARYAWAN_VIEW" />
			</user-service>
		</authentication-provider>
		<authentication-provider user-service-ref='myUserDetailsService'>
			<password-encoder hash="md5">
				<salt-source user-property="username" />
			</password-encoder>
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="myUserDetailsService"
		class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="usersByUsernameQuery"
			value="select username, password, enable as enabled 
					from m_user where username=?"
		></beans:property>
		<beans:property name="authoritiesByUsernameQuery"
			value="select u.username, p.name as authority 
			from m_user u inner join m_group g on u.id_group = g.id  
			inner join m_group_permission gp on gp.id_group = g.id  
			inner join m_permission p on gp.id_permission = p.id  
			where u.username = ?"
		></beans:property>
		
		<beans:property name="rolePrefix" value="ROLE_"/>
	</beans:bean>
	

</beans:beans>